.menu-button {
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS", sans-serif;
    -fx-padding: 5px 10px;
    -fx-background-color: #FFA500;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFA500;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 5, 0, 0, 0);
    -fx-transition-duration: 0.3s;
}

.menu-button:hover {
    -fx-background-color: #FFD700;
    -fx-border-color: #FFD700;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 7, 0, 0, 0);
}

.menu-button:pressed {
    -fx-background-color: #FFD700;
    -fx-border-color: #FFD700;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}